*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #262626;
}
ul{
    display: flex;

}
ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}
ul li::before{
    position: absolute;
    content: '';
    left: 0;
    /* background: #d35400; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
ul li:nth-child(1)::before{
    background: #4267B2;
}
ul li:nth-child(2)::before{
    background: #1DA1F2;
}
ul li:nth-child(3)::before{
    background: #E1306C;
}
ul li:nth-child(4)::before{
    background: #2867B2;
}
ul li:nth-child(5)::before{
    background: #ff0000;
}
ul li:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow:  0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before{
    box-shadow:  0 0 15px #4267B2;
}
ul li:nth-child(1):hover{
    color: #456cba;
    box-shadow:  0 0 15px #4267B2;
    text-shadow:  0 0 15px #4267B2;
}
ul li:nth-child(2):hover{
    color: #1DA1F2;
    box-shadow:  0 0 15px #1DA1F2;
    text-shadow:  0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover{
    color: #E1306C;
    box-shadow:  0 0 15px #E1306C;
    text-shadow:  0 0 15px #E1306C;
}
ul li:nth-child(4):hover{
    color: #2867B2;
    box-shadow:  0 0 15px #2867B2;
    text-shadow:  0 0 15px #2867B2;
}
ul li:nth-child(5):hover{
    color: #ff0000;
    box-shadow:  0 0 15px #ff0000;
    text-shadow:  0 0 15px #ff0000;
}
