@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    overflow: hidden;
}

.navigation ul{
    position: relative;
}

.navigation ul li{
    text-align: center;
    list-style: none;
}

.navigation ul li a{
    color: #333;
    text-decoration: none;
    font-size: 3rem;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul li:hover a{
    color: #0002;
}

.navigation ul li:hover a{
    color: #000;
    background: #fff;
}

.navigation ul li a:before{
    content: '';
    position: absolute;
    top: 50%;
    left:40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: 5em;
    color: rgba(0,0,0.1);
    border-radius: 50%;
    z-index: -1;
    opacity:0;
    font-weight:900;
    text-transform: uppercase;
    letter-spacing: 500px;

    transition: letter-spacing 0.5s,left:0.5s;
}
.navigation ul li a:hover:before{
    content: attr(data-text);
    opacity:0.3;
   
    letter-spacing: 10px;
    width:1800px;
    height:1800px; 

    align-items: center;
}

.navigation ul li:nth-child(6n+1) a:before{
    background: #81ecec;
}
.navigation ul li:nth-child(6n+2) a:before{
    background: #ff7675;
}
.navigation ul li:nth-child(6n+3) a:before{
    background: #a29bfe;
}
.navigation ul li:nth-child(6n+4) a:before{
    background: #fd79a8;
}
.navigation ul li:nth-child(6n+5) a:before{
    background: #ffeaa7;
}
.navigation ul li:nth-child(6n+6) a:before{
    background: #81ec22;
}