body{
    margin:0px;
    scroll-padding: 0px;
    background-image: url(./image/0751.jpg);
    background-attachment: fixed;
    background-size: cover;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navigation-container{
    width: 100%;
    height: 100%;
    background-color: #ea272d;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.navigation-content{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 0px 30px;
    font-family: calibri;
    font-weight: bold;
    color: #FFFF;
}