
#page-landing{
    background: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary);
}

.logo-container img{
    height: 10rem;
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2{
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image{
    width: 100%;
}

/*formação dos botões*/
.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a{
    width: 30rem;
    height: 10.4rem;

    border-radius: 0.8rem;
    margin-right: 1.6rem;

    font: 700 2.4rem Archivo;

    /*alingamento dos links botões*/ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    color: var(--color-button-text);

    transition: background 0.2s;
}

.buttons-container a img{
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study{
    background: var(--color-primary-lighter);
}

.buttons-container a.study:hover{
    background: var(--color-primary-light);
}

.buttons-container a.give-classes{
    background: var(--color-secondary);
    margin-right: 0;
}

.buttons-container a.give-classes:hover{
    background: var(--color-secondary-dark);
}

.total-connections{
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img{
    margin-left: 0.8rem;
}

/*Responsividade para Desktop */
@media(max-width: 699px){
    :root{
        font-size: 40%; /*modificar as medidas rem */
    }    
}

@media(min-width: 1100px){
    #page-landing #container{
        max-width: 1100px;
        /*grig */
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        "proffy image image"
        " button button texting";
        gap:60px;
        row-gap: 86px;
    }
    .logo-container{
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        margin:0;
    }
    .logo-container img{
        height: 100%;
    }
    .hero-image{
        grid-area: image;
    }
    .buttons-container{
        grid-area: button;
        justify-content: flex-start;
    }
    .total-connections{
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }
}